#banner
  .banner_content
    %h1 QuickNote
    %p Your online notebook. Never forget an idea again.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "Best tool to save my notes."
    %p.name -Ulises Morales

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Bacon ipsum dolor amet tri-tip ground round ham hock fatback cupim andouille biltong. Rump pork chop boudin hamburger turducken, meatloaf pork. Boudin venison strip steak, porchetta cupim doner pork tenderloin.
      .callout
        %i.fa.fa-lightbulb-o
        %h2 Ideas
        %p Bacon ipsum dolor amet tri-tip ground round ham hock fatback cupim andouille biltong. Rump pork chop boudin hamburger turducken, meatloaf pork. Boudin venison strip steak, porchetta cupim doner pork tenderloin.
      .callout
        %i.fa.fa-bolt
        %h2 Execution
        %p Bacon ipsum dolor amet tri-tip ground round ham hock fatback cupim andouille biltong. Rump pork chop boudin hamburger turducken, meatloaf pork. Boudin venison strip steak, porchetta cupim doner pork tenderloin.

#bottom_cta
  .wrapper
    %h2 What are you waiting for???
    %p I want you to sign up right NOW... If you don't I will find you!
    %button= link_to "Click Me!!!", new_user_registration_path

%footer
  %p &copy; Ulises Morales 2017
